.pie-wrapper {
  position: absolute; }
  .pie-wrapper * {
    box-sizing: border-box; }

.pie {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.half-circle {
  height: 100%;
  width: 100%;
  border: 1px solid #3498db;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0; }

/*# sourceMappingURL=styles.css.map */
